/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply flex items-center justify-center p-2 bg-blue-500 text-white rounded hover:bg-blue-700;
}

.btn i {
    @apply text-xl;
}

body{
    width: 100vh;
    height: 100vh;
    background-color: #E342C2;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
