/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.Mybtn {
    @apply flex items-center justify-center p-2 bg-purple-700 text-white rounded hover:bg-purple-900;
}

.Mybtn i {
    @apply text-xl;
}

body{
    background-color: #7500FA;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
//#5EF7EF

html, body { height: 100%; }

